<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.area52.techno">

    <uses-sdk tools:overrideLibrary="de.Maxr1998.trackselectorlib" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".TimberApp"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="SESH"
        android:theme="@style/AppTheme.FullScreen.Light"
        tools:replace="android:allowBackup, android:label">
        <activity
            android:name=".activities.MainActivity"
            android:label="SESH"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.view" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".FacebookActivityFirebase"
            android:launchMode="singleTask"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name">



            <!-- Branch URI Scheme -->
            <intent-filter>
                <data android:scheme="androidexample" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <!-- Branch App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="rs2d.test-app.link" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.CATEGORY_APP_MUSIC" />
            </intent-filter>

        </activity>
        <activity android:name="com.facebook.accountkit.ui.AccountKitEmailRedirectActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/ak_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:theme="@style/AppThemeNormalLight" />
        <activity
            android:name=".firebaserecyclerviewtutorial.MainActivityList"
            android:theme="@style/AppThemeNormalLight" />
        <activity
            android:name=".firebaserecyclerviewtutorial.NewsActivity"
            android:theme="@style/AppThemeNormalLight" />
        <activity
            android:name=".firebaserecyclerviewtutorial.NewsWebView"
            android:theme="@style/AppThemeNormalLight" />
        <activity
            android:name=".activities.PlaylistDetailActivity"
            android:theme="@style/AppTheme.FullScreen.Light" />
        <activity
            android:name=".activities.SearchActivity"
            android:theme="@style/AppThemeNormalLight" />
        <activity
            android:name=".activities.NowPlayingActivity"
            android:theme="@style/AppTheme.FullScreen.Light" />
        <activity android:name=".activities.DonateActivity" />
        <activity
            android:name=".cast.ExpandedControlsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ExpandedCastController" />
        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity"
            android:theme="@style/AppThemeNormalLight"
            tools:replace="android:theme" />

        <receiver android:name=".helpers.MediaButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
        <!-- Music service -->
        <service
            android:name=".MusicService"
            android:label="@string/app_name"
            android:process=":main" />
        <service
            android:name=".WearBrowserService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter android:priority="1">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- use your own api key for fabric -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="83531156d0fb41c48a88d3c3ab1307c76cdfbcc8" />
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.area52.techno.cast.CastOptionsProvider" />
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <receiver
            android:name=".widgets.desktop.StandardWidget"
            android:label="@string/widget_standard">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.area52.techno.metachanged" />
                <action android:name="com.area52.techno.playstatechanged" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_standard" />
        </receiver>
        <receiver
            android:name=".widgets.desktop.WhiteWidget"
            android:label="@string/widget_white">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.area52.techno.metachanged" />
                <action android:name="com.area52.techno.playstatechanged" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_white" />
        </receiver>
        <receiver
            android:name=".widgets.desktop.SmallWidget"
            android:label="@string/widget_small">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.area52.techno.metachanged" />
                <action android:name="com.area52.techno.playstatechanged" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_small" />
        </receiver>

        <activity android:name=".VideoActivity" />
        <activity
            android:name=".MyAccountActivity"
            android:label="@string/title_activity_my_account"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen.Light">

        </activity>
        <activity
            android:name=".dj.MyDJActivity"
            android:label="@string/title_activity_my_account"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen.Light">

        </activity>
        <activity
            android:name=".dj.MyDJActivityBranch"
            android:label="@string/title_activity_my_account"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen.Light">

        </activity>
        <activity
            android:name=".activities.OnlineActivity"
            android:label="@string/title_activity_online"
            android:theme="@style/AppTheme.FullScreen.Light" />
        <activity android:name=".activities.Awakenings2018" />
        <activity android:name=".activities.YoutubePlaylist2" />
        <activity android:name=".activities.VideoActivitySets" />
        <activity android:name=".youtube.YouTubeActivityTechnoSets" />
        <activity android:name=".youtube.YouTubeActivityTranceSets" />
        <activity android:name=".youtube.YouTubeActivityPlaylist" />
        <activity android:name=".festivals.AwakeningsActivity" />
        <activity android:name=".festivals.TimeWarpActivity" />
        <activity android:name=".festivals.FuturActivity" />
        <activity android:name=".festivals.ADE" />
        <activity android:name=".festivals.LuminosityActivity" />
        <activity android:name=".activities.PlatformsActivity" />
        <activity android:name=".festivals.PlatformsActivityYears" />
        <activity
            android:name=".soundcloud.MixCloudActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".soundcloud.SoundCloudActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.YoutubePlayer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_youtube_player"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".YouTubePlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_youtube_player"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activities.WebViewActivity"
            android:screenOrientation="sensor" />
        <activity android:name=".activities.YoutubePlaylist" />
        <activity
            android:name=".activities.EventsActivity"
            android:label="@string/title_activity_events" />
        <activity android:name=".festivals.FestivalsActivity" />
        <activity android:name=".festivals.FestivalsActivity2" />
        <activity android:name=".festivals.FestivalsActivity3" />
        <activity android:name=".djs.AddItemActivity" />


        <activity
            android:name=".djs.DJs"
            android:label="@string/title_activity_djs"
            android:theme="@style/AppTheme.FullScreen.Light">


        </activity>
        <activity
            android:name=".users.UserList"
            android:label="@string/title_activity_user_list"
            android:theme="@style/AppTheme.FullScreen.Light">


        </activity>
        <activity
            android:name=".users.MainActivityUser"
            android:label="@string/users"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen.Light">

        </activity>

        <activity
            android:name=".clubs.users.MainActivityClub"
            android:label="@string/clubs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen.Light">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_CLUB" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".festivals_new.dj.MainActivityFestival"
            android:label="@string/festival"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen.Light">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_FESTIVAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".festivals_new.dj.MyFestivalActivity"
            android:label="@string/festival"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen.Light">
        </activity>

        <activity
            android:name=".festivals_new.dj.MyFestivalActivityBranch"
            android:label="@string/festival"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen.Light">
        </activity>

        <activity
            android:name=".dj.MainActivityDJ"
            android:label="@string/title_activity_djs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen.Light">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_DJ" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity android:name=".dj.DJList">


        </activity>

        <!-- Branch init -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_pmpOAB90itxKwC0oHrrOKhaiuvjFS94F" />
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_gcfHvB8WmqBMxw7mSxqZOmmiDAiqVWZP" />

        <!-- Branch testing (TestMode "true" to simulate fresh installs on dev environment) -->
        <meta-data android:name="io.branch.sdk.TestMode" android:value="false" />
        <!-- Branch install referrer tracking -->
        <receiver android:name="io.branch.referral.InstallListener" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/sesh_logo_50" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimaryBlack" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>